# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/ServerData/
/Assets/AddressableAssetsData/*/*.bin*
/Assets/StreamingAssets/aa*
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties

# IDEs
.vs/
.idea/
.vscode/
*.csproj
!Tools/**/*.csproj
*.sln
*.suo
*.user

# dotnet test harness
Tools/**/bin/
Tools/**/obj/
TestResults/
